<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>
        <%= vinho['nome'] %>
    </title>
    <link rel="icon" href="/images/wine.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="/javascripts/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</head>
<nav class="navbar navbar-light bg-light justify-content-between">
    <li class="nav-item">
        <a href="/" class="navbar-brand icon-navbar"><img src="/images/wine.png"></a>
    </li>
    <form class="form-inline">
        <% if(user.nome==undefined){ %>
            <a id="se_cadastre" href="/login">
                Se cadastre ou faça login
            </a>
            <% } else{ %>
                <li class="nav-item dropdown nav-bar-logado">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Olá, <%= user.nome %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/myWines">Meus vinhos</a>
                        <a class="dropdown-item" href="/addWine">Cadastrar Vinho</a>
                        <a class="dropdown-item" href="/logout">Sair</a>
                    </div>
                </li>
                <% } %>
    </form>
</nav>

<body>
    <div class="wine-page">
        <img src="/images/wineImages/<%=vinho.imagem%>">
        <div id="content" class="container">
            <h1 class="text-center">
                <%=vinho.nome%>
            </h1>
        </div>
        <div class="grid-wine-page py-2">
            <p><b>Produtor:</b>
                <%=vinho.produtor%>
            </p>
            <p><b>Pais de Origem:</b>
                <%=vinho.pais_origem%>
            </p>
            <p><b>Tipo de Vinho:</b>
                <%=vinho.tipo_vinho%>
            </p>
            <p><b>Tipo de Uva:</b>
                <%=vinho.tipo_uva%>
            </p>
            <p><b>Harmonização:</b>
                <%=harmonizacao%>
            </p>
        </div>

        <div id="content">
            <h2>Avaliações</h2>
            <% if(comentarios.length==0 ){ %>
                <h4 class="py-2">Este vinho ainda não possui avaliações!</h4>
                <% } else { %>
                    <div class="grid-wine-page">
                        <% var count=0; comentarios.forEach(function(comentario){ %>
                            <div class=" py-3">
                                <div class="card" style="width: 100%; padding:2%; border-radius: 10px;">
                                    <form id=<%="formulario_comentario" + count %> action=<%= "/searchUser/" +
                                            comentario.user_id %> method="get">
                                            <a
                                                onclick="document.getElementById('formulario_comentario<%=count%>').submit();">
                                                <div class="card-body">
                                                    <h5 class="card-title d-flex justify-content-around">
                                                        <div>
                                                            <%=comentario.user_name%>
                                                        </div>
                                                        <div>
                                                            <%=comentario.nota%>/5
                                                        </div>
                                                    </h5>
                                                    <div class="card-text pt-2">
                                                        <p class="mb-0">
                                                            <%= comentario.comentario %>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                    </form>
                                </div>
                            </div>
                            <%count++; }) %>
                    </div>
                    <% } %>

        </div>
    </div>
</body>

</html>